.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle {
    border: 1px solid #000000;
    width: 80vw;
    height: 80vh;
    /* border-radius: 50%; */
  }
  
  .action {
    margin: 10px;
  }
  
  button {
    cursor: pointer;
  }